<!doctype html>
<html>
<head>
  <title>Aquarius</title>

  <meta content="text/html;charset=utf-8" http-equiv="Content-Type">
  <meta content="utf-8" http-equiv="encoding">

  <!-- styles -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" type="text/css" href="/xterm.css" />
  <link href="//cdn.jsdelivr.net/npm/jquery.fancytree@2.27/dist/skin-win8/ui.fancytree.min.css" rel="stylesheet">
  <link rel="stylesheet" type="text/css" media="all" href="/css/main.css" >

  <!-- scripts -->
  <script src="//code.jquery.com/jquery-3.3.1.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
  <script type="module" src="/xterm.js"></script>
  <script type="module" src="/addons/fit/fit.js"></script>
  <script src="//cdn.jsdelivr.net/npm/jquery.fancytree@2.27/dist/jquery.fancytree-all-deps.min.js"></script>
  <script type="text/javascript" src="/javascript/ace/ace-min.js"></script>
  <script type="text/javascript" src="/javascript/ace/ext-beautify-min.js"></script>
  <script type="text/javascript" src="/javascript/ace/solarized_dark.js"></script>
  <script type="text/javascript" src="/javascript/ace/monokai-theme-min.js"></script>
  <script type="text/javascript" src="/javascript/ace/mode-cpp-min.js"></script>
  <script type="text/javascript" src="/javascript/ide.js"></script>
</head>

<body>
  {{{ body }}}
</body>
</html>
