<div class = "w3-container w3-content topPad">
	
		<div class = "w3-panel w3-center">
			<div class = "w3-container">	
				<div class = "w3-center" id="title">
				  <p class = "w3-center"><img src="vide3.png"></p>
				  <br />
				  <p class = "w3-center">A voice controlled IDE.</p>
				  <br />
				  <p class = "w3-center"><img src="logo.png"></p>
				</div>
			</div>
			
			<div class = "w3-center w3-btn w3-border w3-round" id="sign-in">
			 
			  <a href='auth/google'>   
			  <img id="googlePlus" src="google.png">
			  </a>
		        </div>
				
			<div id = "siError">
			  {{message}}
			</div>
			
			</div>
		</div>
	
</div>
